<div>
    <div class="col-md-6">
        <div>
            <h1>Contact form</h1>
        </div>
        <form action="">
            <div id="fields">
                <div class="form-group">
                    <label for="">First name</label>
                    <input type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="">Last name</label>
                    <input type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="password">New password</label>
                    <input type="password" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="">Message</label>
                </div>
                <div class="form-group">
                    <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <input type="button" value="Send" id="btn_send" class="btn btn-success" />
            </div>
        </form>
    </div>

    <div class="col-md-6">
        <h2>The Map</h2>
        <!--<ul>
            @foreach (var item in Model)
            {
            <li>@item.Name : @item.DateCreated.ToString("d")</li>
            }
        </ul>-->
    </div>
</div>