@model WebApplication1.ViewModels.ContactViewModel
@{ 
    ViewBag.Title = "Contact Page";
}
<h2>Contact me</h2>
<form>
    <label asp-for="Name">Name</label>
    <input type="" value="" asp-for="Name"/>
    <label asp-for="Email">Email</label>
    <input type="email" value="" asp-for="Email"/>
    <label asp-for="Message">Message</label>
    <textarea name cols="40" rows="4" asp-for="Message"></textarea>
    <div>
        <input type="submit" value="Send Message" />
    </div>
</form>